@use '../base/variables';
@use '../base/extends';

.article__body {
  height: 100%;

  @media (max-width: 420px) {
    height: auto;
  }
}

.article {
  margin: 40px auto;
  padding: 20px 60px;
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  border-radius: 100px;
  border: 3px solid variables.$blue;
  background-color: rgba(255, 255, 255, 0.12);
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 420px) {
    height: 90%;
    margin-top: 60px;
  }

  &__title {
    @extend %h4-text;

    @media (max-width: 420px) {
      font-size: 24px;
    }
  
  }

  &__text {
    @extend %article-text;

    @media (max-width: 420px) {
      font-size: 18px;
    }

  }

  &__date {
    @extend %date-text;
    font-size: 18px;
    align-self: flex-start;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__comment {
    @extend %nav-text;
    margin: 0 15px;

    @media (max-width: 550px) {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    text-align: center;
    border: 2px solid variables.$additionalPurple;
    background: transparent;
    width: 97px;
    height: 48px;
    padding: 14px;
    @extend %buttonSm-text;
    border-radius: 24px;
    cursor: pointer;
    z-index: 400;
  }

  &__link:hover {
    background-color: rgba(variables.$white, 0.2);
    text-decoration: underline;
  }
}
