@use '../base/variables';
@use '../base/extends';

.blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;

  &__title {
    text-transform: uppercase;
    color: variables.$white;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 24px;
  }

  &__wrapper {
    height: 595px;
    width: 531px;
    border-radius: 100px;
    border: 3px solid variables.$blue;
    background-color: rgba(255, 255, 255, 0.12);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  &__inner {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 24px 16px 0 24px;
  }

  &__wrapper::after {
    content: '';
    position: absolute;
    top: 96px;
    right: 0px;
    width: 8px;
    height: 403px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 4px;
  }

  &__inner::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
    border-radius: 4px;
  }

  &__inner::-webkit-scrollbar-thumb {
    background: variables.$blue;
    border-radius: 4px;
  }

  &__inner::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 90px;
    width: 8px;
    background-color: transparent;
  }

  &__inner::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 90px;
    width: 8px;
    background-color: transparent;
  }

  &__inner {
    scrollbar-color: variables.$blue transparent;
    scrollbar-width: thin;
  }

  &__item {
    display: flex;
    padding: 16px 64px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 196px;
    background-color: variables.$deepBlue;
    margin-bottom: 16px;
  }

  &__item:first-child {
    background-color: variables.$blue;
  }

  &__item:hover {
    background-color: variables.$blue;
  }

  &__text {
    @extend %article-text;
    margin-bottom: 14px;
  }

  &__date {
    @extend %date-text;
  }
}
