@use '../base/variables';
@use '../base/extends';

.btn {
  display: flex;
  padding: 20px 72px;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  border: 2px solid variables.$additionalPurple;
  background: transparent;
  width: 393px;
  height: 72px;
  @extend %buttonLg-text;

  @media (max-width: 1560px) {
    width: 370;
    height: 65px;
    font-size: 20px;
    line-height: 22px;
  }

  &:hover {
    background-color: rgba(variables.$white, 0.2);
  }

  &_blue {
    background-color: variables.$blue;
    border: transparent;
  }

  &_blue:hover {
    background-color: variables.$additionalPurple;
  }

  &_sm {
    width: 97px;
    height: 48px;
    padding: 14px;
    @extend %buttonSm-text;
    margin-left: 14px;
    border-radius: 24px;
  }
}
