@use '../base/variables';
@use '../base/extends';

.footer {
  padding: 30px 0;
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid variables.$blue;
  border-right: 4px solid variables.$blue;
  border-left: 4px solid variables.$blue;
  background-color: variables.$deepBlue;
  width: 100%;
  height: 11vh;
  z-index: 300;

  @media (max-width: 985px) {
    padding: 20px 0;
    height: auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 985px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav .nav__item {
    margin-right: 40px;

    @media (max-width: 985px) {
      margin-right: 0;
    }
  }

  &__nav .nav__item:last-child {
    margin-right: 0;
  }

  &__nav {
    @media (max-width: 985px) {
      margin-bottom: 0;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__subtitle {
    @extend %nav-text;
    margin-bottom: 14px;

    @media (max-width: 985px) {
      align-self: center;
    }
  }

  &__icons {
    display: flex;
  }

  &__link {
    margin-right: 8px;
  }

  &__link:last-child {
    margin-right: 0;
  }

  .fill:hover {
    fill: url(#paint0_linear_2515_201);
  }
}
