@use '../base/variables';
@use '../base/extends';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__list {
    @extend .nav;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 32px;
    @extend %nav-text;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link:hover,
  &__link:active {
    text-decoration: underline;
    color: variables.$blue;
  }
}
